
.navbar-collapse {
    background-color: #343A40;
    min-height: 56px;
}


html{
    background-color: white;
}

.navbar{
    padding: 0px;
}

.container-fluid{
    background-color: #343A40;
    padding: 0px;
    min-height: 56px;
}




.navbar-brand{
    padding-left: 16px;
    color: white;
}

.navbar-brand:hover{
    color: rgb(187, 178, 178);
}

.navbar-brand:active{
    color: white;
}

.nav-link{
    padding-left: 16px;
    color: white;
}

.nav-link:hover{
    color: rgb(187, 178, 178);
}

.nav-link:active{
    color: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(213, 208, 208, 0.479)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler{
    height: 38px;
    width: 54px;
    border-color: rgba(232, 228, 228, 0.479);
}

.my-custom-btn {
    width: 201px;
    height: 48px;
  }


.title-profile{
    margin-top: 60px;
}


.cards_main{
    margin-top: 80px;
    display: flex;
    align-content: space-between;
    gap: 100px;

}

.card_profile{
    max-width: 445px;
}

.rov{
    background-color: white;
}

.card-text{
    color: black;
    font-weight: 400;
}

.card-title{
    color: black;
    font-size: 20px;
    font-weight: 350;
}

.btn_portfolio{
    margin-bottom: 60px;
}

.btn_profile{
    margin-bottom: 20px;
}


a {
    text-decoration: none;
}

.table{
    min-width: 800px
}

.table-responsive {
    overflow-x: auto;
}


.footer-content{
    background-color: #F5F5F5;
    min-height: 51px;
}

.text-footer{
    margin:auto;
    color: #6C757D;
    padding-right: 300px;
}


.content_table {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Для плавной прокрутки на iOS */
  }